#root {
  background-color: black;
}

.App {
  text-align: center;
  background-color: black;
}

.App-logo {
  height: 30vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.loginCard {
  border-radius: 20px;
  height: 550px;
  box-shadow: 0px 0px 40px blueviolet;
  background: white;
}

.loginCard-body {
  display: inline;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 110px auto;
  grid-template-areas:
    "title title"
    "input logo";
}

.loginCard-title {
  grid-area: title;
  font-weight: 800;
  font-size: 35px;
  padding: 20px 0;
}

.loginInput {
  grid-area: input;
  height: 100%;
}

.loginLogo {
  width: 100%;
  grid-area: logo;
  text-align: center;
  max-height: 100%;
}

.login-logo {
  width: 100%;
  height: auto;
}

.loginInput .row {
  margin: 0 5px;
  padding: 10px 10px;
}

.form-label {
  text-align: left;
  font-size: 15px;
  font-weight: 800;
}

.loginBtn {
  width: 100%;
  text-align: center;
  font-size: 19px;
  font-weight: 800;
}

.forgetBtn {
  color: black;
  width: 100%;
  text-align: center;
  font-size: 19px;
  font-weight: 700;
  text-decoration: none;
}

.btn-icon {
  background: white;
  color: black;
  font-size: large;
  font-weight: 700;
}

.btn-google:hover {
  background: #0f9d58;
}

.btn-facebook:hover {
  background: #4267b2;
}
